<div class="sticky-header">
    <div class="row" style="margin:10px 35px">
        <div class="col-md-3">
            <a href="#"><img src="../../assets/Images/iylogo.png"> </a>    
        </div>
        <div class="col-md-6"> 
            <input class="search-bar" placeholder="Search Stocks, Mutual funds, eBooks, Articles and Videos"> 
        </div>
        <div class="col-md-3">
            <button style="background-color: transparent; border: none; color: #1758F5;">Offers</button>
            <button class="blue-button login-btn">Login</button>
            <button class="blue-button register-btn">Register</button>
        </div>  
    </div>
    <div class="navigation" style="background-color: #1758F5; width: 100%;">
        <ul>
            <li class="stockOMerter">Stock-O-Meter
                <div class="dropdownMenu dropdownButton">
                    <div class="dropdown-header">
                        Hello
                    </div>
                    <div class="dropdown-body">
                        Body
                    </div>
                </div>
            </li>
            <li>Model Portfolios</li>
            <li>Fund-O-Meter</li>
            <li>Portfolio Tracker</li>
            <li>Other Products</li>
            <li>eBooks</li>
            <li>e-Learnin</li>
            <li>Pricing</li>
            <li>Articles</li>
        </ul>
    </div>
</div>


