.login-btn{
    margin: 5px 20px;
    font-size: 17px;
    height: 31px;
    padding: 0px 15px;
}
.register-btn{
    font-size: 17px;
    height: 31px;
    padding: 0px 15px;
}
.search-bar{
    width: 80%;
    margin: 6px 8%;
    border: 1px solid #cfd8dc;
    border-radius: 3px;
    height: 32px;
    font-size: 14px;
}
.search-bar:focus{
    outline: none;
    border: 0.5px solid #1758F5 !important;

}
.search-bar:hover{
    border: 0.5px solid #1758F5;
}
.navigation ul{
    text-decoration: none;
    list-style-type: none;
    width: 1170px;
    margin: auto;
}
.navigation li{
    display: inline-block;
    padding: 0px 10px;
    vertical-align: -webkit-baseline-middle;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
