<div class="sticky-header">
    <div class="row" style="margin:10px 35px">
        <div class="col-md-3">
            <a href="#"><img src="../../assets/Images/iylogo.png"> </a>    
        </div>
        <div class="col-md-6"> 
            <input class="search-bar" placeholder="Search Stocks, Mutual funds, eBooks, Articles and Videos"> 
        </div>
        <div class="col-md-3">
            <button style="background-color: transparent; border: none; color: #1758F5;">Offers</button>
            <button class="blue-button login-btn">Login</button>
            <button class="blue-button register-btn">Register</button>
        </div>  
    </div>
    <div class="navigation" style="background-color: #1758F5; width: 100%;">
        <ul>
            <li class="stockOMerter">Stock-O-Meter
                <div class="dropdownMenu dropdownButton">
                    <div class="dropdown-header">
                        <ul>
                            <li> <img src="../../assets/Images/ic_stockscreener.svg"> Stock Screens</li>
                            <li><img src="../../assets/Images/ic_stocksector.svg"> Stock Sectors</li>
                            <li><img src="../../assets/Images/StockArticle.svg"> Stock Articles</li>
                            <li><img src="../../assets/Images/ic_business houses.svg"> Business Houses</li>
                        </ul>
                    </div>
                    <div class="dropdown-body">
                        <div class="row body-section">
                            <div class="col-md-4">
                                <div style="padding:10px 10px 10px 0px">
                                    <span class="market-cap-category">Large Cap Stocks</span>
                                    <span class="view-all">View all ></span>
                                </div>
                            <div>
                                <div style="padding:10px 10px 10px 0px" *ngFor="let row of large_cap_array">
                                    <div class="company-section">
                                        <span class="company-name">{{row.company.name}}</span>
                                        <span class="cmp">₹{{row.company.close}}</span>
                                    </div>
                                    <div class="sector-section">
                                        <span class="sector">Sector: &nbsp;</span>
                                        <span class="sector-value">{{row.company.sectorMapping.mainSector}}</span>
                                        <span class="closing-price">Closing Price</span>
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                            <div class="col-md-4">
                                <div style="padding:10px 10px 10px 0px">
                                    <span class="market-cap-category">Mid Cap Stocks</span>
                                    <span class="view-all">View all ></span>
                                </div>
                            <div>
                                <div style="padding:10px 10px 10px 0px" *ngFor="let row of mid_cap_array">
                                    <div class="company-section">
                                        <span class="company-name">{{row.company.name}}</span>
                                        <span class="cmp">₹{{row.company.close}}</span>
                                    </div>
                                    <div class="sector-section">
                                        <span class="sector">Sector: &nbsp;</span>
                                        <span class="sector-value">{{row.company.sectorMapping.mainSector}}</span>
                                        <span class="closing-price">Closing Price</span>
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                            <div class="col-md-4">
                                <div style="padding:10px 10px 10px 0px">
                                    <span class="market-cap-category">Small Cap Stocks</span>
                                    <span class="view-all">View all ></span>
                                </div>
                            <div>
                                <div style="padding:10px 10px 10px 0px" *ngFor="let row of small_cap_array">
                                    <div class="company-section">
                                        <span class="company-name">{{row.company.name}}</span>
                                        <span class="cmp">₹{{row.company.close}}</span>
                                    </div>
                                    <div class="sector-section">
                                        <span class="sector">Sector: &nbsp;</span>
                                        <span class="sector-value">{{row.company.sectorMapping.mainSector}}</span>
                                        <span class="closing-price">Closing Price</span>
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                            
                        </div>
                    </div>
                </div>
            </li>
            <li>Model Portfolios
                <div class="dropdownMenu dropdownButton">
                    <div class="dropdown-header">
                        Hello
                    </div>
                    <div class="dropdown-body">
                        Body
                    </div>
                </div>
            </li>
            <li>Fund-O-Meter</li>
            <li>Portfolio Tracker</li>
            <li>Other Products</li>
            <li>eBooks</li>
            <li>e-Learnin</li>
            <li>Pricing</li>
            <li>Articles</li>
        </ul>
    </div>
</div>


