<div style="padding: 60px 0px 95px;">
    <h2 class="top-heading">e-Learning</h2>
    <p class="sub-heading">One stop to access all financial eLearning courses.</p>
    <div class="row" style="margin: 0px 9%;">
        <div class="col-md-6">
            <img src="../../../assets/Images/Mockups -eLearning@1x.webp" alt="" style="width: 100%;">
        </div>
        <div class="col-md-6">
            <div class="side-section">
                <div style="padding: 0px 46px;">
                    <p style="font-weight: 600;">Elements of Stock Market Investing</p>
                    <p style="font-size: 14px; line-height: 1.9 ;">Basic course of Stock Market by Mr Parimal Ade. A simplistic & prctical guide to stock market with 50+ videos and lot of reading
                        material. A must have course for Non-finance starters and new investors.
                    </p>
                </div>
            </div>
            <div style="padding: 21px 11px 0px 54px; font-weight: 700;">
                <p>Mastering Mutual Funds</p>
                <p>Core Concepts of Investing & Financial Planning - Curating Financial Freedom</p>
            </div>
        </div>
    </div>
</div>
<div style="background-color: rgba(189, 189, 189, 0.05);">
    <h2 class="top-heading" style="padding:60px 0px 35px;">Why choose Investyadya?</h2>
        <div style="display: flex; justify-content: center;">
            <div class="whycard">
                <div class="whycard-img">
                    <img src="../../../assets/Images/-e-1_unbiased.svg" alt="unbiased">
                </div>
                <div class="whycard-heading">
                    <h5>Unbiased & Transperent</h5>
                    <p>Always unbiased and transparent information provided to everyonr</p>
                </div>
            </div>
    
            <div class="whycard">
                <div class="whycard-img">
                    <img src="../../../assets/Images/-e-partnership_2.svg" alt="unbiased">
                </div>
                <div class="whycard-heading">
                    <h5>No Partnerships</h5>
                    <p>No partnerships with banks, brokers or mutual fund companies</p>
                </div>
            </div>
    
            <div class="whycard">
                <div class="whycard-img">
                    <img src="../../../assets/Images/-e-knowledge_3.svg" alt="unbiased">
                </div>
                <div class="whycard-heading">
                    <h5>Knowlefge Based</h5>
                    <p>Knowledge based content in a very simplified language</p>
                </div>
            </div>
        </div>
        
 
</div>

