<div style="padding: 60px 0px 95px">
  <h2 class="top-heading">e-Learning</h2>
  <p class="sub-heading">One stop to access all financial eLearning courses.</p>
  <div class="row" style="margin: 0px 9%">
    <div class="col-md-6">
      <img
        src="../../../assets/Images/Mockups -eLearning@1x.webp"
        alt=""
        style="width: 100%"
      />
    </div>
    <div class="col-md-6">
      <div class="side-section">
        <div style="padding: 0px 46px">
          <p style="font-weight: 600">Elements of Stock Market Investing</p>
          <p style="font-size: 14px; line-height: 1.9">
            Basic course of Stock Market by Mr Parimal Ade. A simplistic &
            prctical guide to stock market with 50+ videos and lot of reading
            material. A must have course for Non-finance starters and new
            investors.
          </p>
        </div>
      </div>
      <div style="padding: 21px 11px 0px 54px; font-weight: 700">
        <p>Mastering Mutual Funds</p>
        <p>
          Core Concepts of Investing & Financial Planning - Curating Financial
          Freedom
        </p>
      </div>
    </div>
  </div>
</div>
<div style="background-color: rgba(189, 189, 189, 0.05)">
  <h2 class="top-heading" style="padding: 60px 0px 35px">
    Why choose Investyadya?
  </h2>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 6%;
    "
    class="row"
  >
    <div class="whycard">
      <div class="whycard-img">
        <img src="../../../assets/Images/-e-1_unbiased.svg" alt="unbiased" />
      </div>
      <div class="whycard-heading">
        <h5>Unbiased & Transperent</h5>
        <p>Always unbiased and transparent information provided to everyonr</p>
      </div>
    </div>

    <div class="whycard">
      <div class="whycard-img">
        <img src="../../../assets/Images/-e-partnership_2.svg" alt="unbiased" />
      </div>
      <div class="whycard-heading">
        <h5>No Partnerships</h5>
        <p>No partnerships with banks, brokers or mutual fund companies</p>
      </div>
    </div>

    <div class="whycard">
      <div class="whycard-img">
        <img src="../../../assets/Images/-e-knowledge_3.svg" alt="unbiased" />
      </div>
      <div class="whycard-heading">
        <h5>Knowlefge Based</h5>
        <p>Knowledge based content in a very simplified language</p>
      </div>
    </div>
  </div>
</div>

<!-- CSS Animation Practice -->

<!-- 
<section class="girl-section">
    <div class="content">
        <h2>Hey Girl how u doing?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
    </div>
    <img src="../../../assets/Images/Screenshot 2022-03-20 at 4.52.56 PM.png" class="side-image">
    <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#fff" fill-opacity="1" d="M0,32L48,74.7C96,117,192,203,288,197.3C384,192,480,96,576,74.7C672,53,768,107,864,122.7C960,139,1056,117,1152,101.3C1248,85,1344,75,1392,69.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg>
</section>
<div class="outer-container">
<div class="main-container">
    <div class="clip clip1">
        <div class="content">
            <h2>Hawa mahal</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
        </div>
    </div>
    <div class="clip clip2">
        <div class="content">
            <h2>Albert Hall Museum</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
        </div>
    </div>
    <div class="clip clip3">
        <div class="content">
            <h2>Jal Mahal</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
        </div>
    </div>
</div>
</div>

<div>
    <section class="flow">
        <div class="wave2"></div>
    </section>
</div> -->
