.top-heading{
    font-size: 37px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.06px;
    margin-bottom: 10px;
}
.sub-heading{
    text-align: center;
    margin-bottom: 50px;
}
.side-section{
    padding: 20px 10px;
    background-color: rgba(23,88,245,0.04);
    border-top: 3px solid #1758F5;
    border-radius: 5px;
}
@keyframes border-change{
    0% {border: 3px solid transparent;}
    100% {border: 3px solid turquoise; transition: all 0.8s ease;}
    0% {border: 3px solid transparent;}
}
.whycard{
    float: left;
    width: 25%; 
    margin: 20px; 
    border: 3px solid transparent;    
    padding: 25px 15px;
}
.whycard:hover{
    animation-name: border-change;
    animation-duration: 4s;
}
.whycard-img{
    max-width: 65px;
    border-radius: 50%;
    box-shadow: 0px 15px 15px 0px rgb(8 18 109 / 10%);
    background-color: #f9f9f9;
    transition: 0.4s;
}
.whycard-heading{
    margin-top: 20px;
}
