.top-heading{
    font-size: 37px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.06px;
    margin-bottom: 10px;
}
.sub-heading{
    text-align: center;
    margin-bottom: 50px;
}
.side-section{
    padding: 20px 10px;
    background-color: rgba(23,88,245,0.04);
    border-top: 3px solid #1758F5;
    border-radius: 5px;
}