<div class="blue-color-background" style="padding: 60px 0px; margin-top: 30px">
  <h2 class="top-heading">Research Based Products</h2>
  <p class="sub-heading">Wide range of products for your financial planning</p>
  <div class="row" style="margin: 0px 6%">
    <div class="cards">
      <img
        src="../../../assets/Images/personalized-fp.svg"
        style="height: 70px; width: 70px"
      />
      <p class="card-heading">Model Portfolios</p>
      <p class="card-description">
        Ready - made Stocks & Mutual Funds Portfolios
      </p>
      <a href="#" class="card-link blue-color"
        >learn more
        <img src="../../../assets/Images/right-angle-learnmore.svg" alt=""
      /></a>
    </div>
    <div class="cards">
      <img
        src="../../../assets/Images/personalized-fp.svg"
        style="height: 70px; width: 70px"
      />
      <p class="card-heading">Stock-O-Meter</p>
      <p class="card-description">
        Equity Research Tool & Fundamental Analysis
      </p>
      <a href="#" class="card-link blue-color"
        >learn more
        <img src="../../../assets/Images/right-angle-learnmore.svg" alt=""
      /></a>
    </div>
    <div class="cards">
      <img
        src="../../../assets/Images/personalized-fp.svg"
        style="height: 70px; width: 70px"
      />
      <p class="card-heading">Fund-O-Meter</p>
      <p class="card-description">Comprehensive Mutual Fund Reviews</p>
      <a href="#" class="card-link blue-color"
        >learn more
        <img src="../../../assets/Images/right-angle-learnmore.svg" alt=""
      /></a>
    </div>
    <div class="cards">
      <img
        src="../../../assets/Images/personalized-fp.svg"
        style="height: 70px; width: 70px"
      />
      <p class="card-heading">Tax Yadnya</p>
      <p class="card-description">Simplest Income Tax Information Bank</p>
      <a href="#" class="card-link blue-color"
        >learn more
        <img src="../../../assets/Images/right-angle-learnmore.svg" alt=""
      /></a>
    </div>
    <div class="cards">
      <img
        src="../../../assets/Images/personalized-fp.svg"
        style="height: 70px; width: 70px"
      />
      <p class="card-heading">Finplan Yadnya</p>
      <p class="card-description">Do - it - Yourself Financial Planning</p>
      <a href="#" class="card-link blue-color"
        >learn more
        <img src="../../../assets/Images/right-angle-learnmore.svg" alt=""
      /></a>
    </div>
  </div>
</div>
