.top-heading {
  color: white;
  font-size: 37px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.06px;
  margin-bottom: 10px;
}
.sub-heading {
  color: white;
  text-align: center;
  margin-bottom: 50px;
}
.cards {
  flex: 2;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 26px 46px rgb(84 84 84 / 55%);
  margin: 2%;
  padding: 20px 15px;
  text-align: center;
  transition: 0.5s;
  min-width: 200px;
}
.cards:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 28px 2px rgb(61 61 61);
}
.card-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}
.card-description {
  font-size: 15px;
  margin-bottom: 10px;
}
.card-link {
  font-size: 13px;
  text-decoration: none;
  font-weight: 600;
}
