<div style="background-color: rgba(23, 88, 245, 0.10);padding: 20px 0px 20px 0px;">
    <div class="row" style="margin: 0px 10%; text-align: center;">
        <div class="col-md-3 blue-color">
             <p class="stats-heading" style="margin: 0px;">1m+</p>
             <span style="font-size: 28px;">Followers</span>
        </div>
        <div class="col-md-3 blue-color">
            <p class="stats-heading" style="margin: 0px;">100k+</p>
            <span style="font-size: 28px;">Active Users</span>
       </div>
       <div class="col-md-3 blue-color" >
        <p class="stats-heading" style="margin: 0px;">25k+</p>
        <span style="font-size: 28px;">Books Sold</span>
   </div>
   <div class="col-md-3 blue-color" >
    <p class="stats-heading" style="margin: 0px;">4.5+</p>
    <span style="font-size: 28px;">Rating</span>
</div>
        <!-- <div class="col-md-1 blue-color">
            <span class="stats-heading">100k+</span>
        </div>
        <div class="col-md-1 blue-color"><span class="stats-heading">25k+</span></div>
        <div class="col-md-1 blue-color"><span class="stats-heading">4.5+</span></div> -->
    </div>
</div>
