<div style="background-color: rgba(23, 88, 245, 0.1)">
  <div class="row" style="margin: 0px 10%; text-align: center">
    <div class="blue-color stats-container">
      <p class="stats-heading" style="margin: 0px">1m+</p>
      <span style="font-size: 28px">Followers</span>
    </div>
    <div class="blue-color stats-container">
      <p class="stats-heading" style="margin: 0px">100k+</p>
      <span style="font-size: 28px">Active Users</span>
    </div>
    <div class="blue-color stats-container">
      <p class="stats-heading" style="margin: 0px">25k+</p>
      <span style="font-size: 28px">Books Sold</span>
    </div>
    <div class="blue-color stats-container">
      <p class="stats-heading" style="margin: 0px">4.5+</p>
      <span style="font-size: 28px">Rating</span>
    </div>
  </div>
</div>
