<ngb-carousel
  #carouselNew
  class="side-design"
  [interval]="4000"
  [showNavigationArrows]="false"
  *ngIf="sliderData"
>
  <ng-template ngbSlide *ngFor="let entry of sliderData">
    <div class="slide-container-height">
      <div style="margin: 25px 10% 0px 10%">
        <div style="display: flex" class="row">
          <div class="image-box">
            <div class="image-container">
              <img
                [src]="entry.mainImg"
                style="height: 100%; width: 100%"
                class="bouncy"
              />
            </div>
          </div>
          <div style="flex: 2" class="information-box">
            <div>
              <img
                [src]="entry.logoImg"
                alt="Model-Portfolio"
                style="height: 22px"
              />
              <div style="margin-top: 8px">
                <span
                  class="heading"
                  style="font-weight: 400"
                  *ngIf="entry.mainSubHeading"
                >
                  {{ entry.mainSubHeading }}
                </span>
                <span class="heading">
                  {{ entry.mainHeading }}
                </span>
              </div>
              <p class="sub-heading" *ngIf="entry.subheading !== null">
                {{ entry.subheading }}
              </p>
              <p *ngIf="entry.link">
                <li class="link-element">{{ entry.link }}</li>
              </p>
              <div class="row" style="margin-top: 30px">
                <div
                  class="col-md-6"
                  style="display: flex; align-items: center"
                  *ngIf="entry.sectionOneCount"
                >
                  <span style="font-size: 26px; font-weight: 600">
                    {{ entry.sectionOneCount }}
                  </span>
                  <span></span>
                  <span style="margin: 6px; font-size: 12px">
                    {{ entry.sectionOneText }}
                  </span>
                </div>
                <div
                  class="col-md-6"
                  style="display: flex; align-items: center"
                  *ngIf="entry.sectionTwoCount"
                >
                  <span style="font-size: 26px; font-weight: 600">
                    {{ entry.sectionTwoCount }}
                  </span>
                  <span></span>
                  <span style="margin: 5px; font-size: 12px; line-height: 1.4">
                    {{ entry.sectionTwoText }}
                  </span>
                </div>
              </div>
              <button
                class="blue-button-big"
                style="
                  margin-top: 14px;
                  box-shadow: 0 10px 20px -8px rgb(0 0 0 / 70%);
                "
              >
                {{ entry.buttonText }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
